<h1>Edit Workout</h1>

<body style="background-color:green;">

<form method = 'POST' action = '/login'>
<input type="hidden" value="patch" name="_method">
<label for = 'workout_type'>Workout Type:</label><br>
<input type = 'text' id='workout_type' name = 'name' placeholder="Edit Workout Type" ><br>

<br>

<label for = 'duration'>Duration:</label><br>
<input type = 'duration' id='duration' name = 'duration' placeholder="Edit Duration"><br>

<br>

<label for = 'notes'>Notes:</label><br>
<input type = 'notes' id='notes' name = 'notes' placeholder="Edit Notes"><br>

<br>
    <input type = 'submit' >
    </form>
    <br>
    <a href = '/'><h5>Cancel</h5></a>

    <body/>