
<h1>Edit Your Workout</h1>

<body style="background-color:green;">

<form method = 'POST' action = "/workouts/<%=@workout.id%>">
<input type="hidden" value="patch" name="_method">
<br>

<label for = 'workout_type'>Workout Type:</label><br>
<input type = 'text' id='workout_type' name = 'name' placeholder= <%=@workout.name%> > <br><br>



<label for = 'duration'>Duration:</label><br>
<input type = 'duration' id='duration' name = 'duration' placeholder= <%=@workout.duration%> <br><br>

<br>

<label for = 'notes'>Notes:</label><br>
<input type = 'notes' id='notes' name = 'notes' placeholder= <%=@workout.notes%> <br><br>
<br>

    <input type = 'submit' >
    </form>
    <br>
    <a href="/workouts"><button>Cancel</button></a><br>

    <body/>