<h1>Great Workout, Champ!</h1>

<body style="background-color:green;">

<form method = "POST" action = '/workouts'>

    <label for = 'workout_type'>Workout Type:</label><br>
    <input type = 'text' id='workout_type' Workout_Type = 'workout_type'><br>

    <br>

    <label for = 'duration'>Duration:</label><br>
    <input type = 'duration' id='duration' workout_type = 'duration'><br>

    <br>

    <label for = 'notes'>Notes:</label><br>
    <input type = 'notes' id='notes' workout_type = 'notes'><br>

    <br>

    <input type = 'submit' value ='Hell Yeah!'>
    </form>
    <br>

    <a href = '/'><h5>Cancel</h5></a>

    <body/>
