<h1>Great Workout, Champ!</h1>

<body style="background-color:green;">

<form method = "POST" action = '/workouts'>

    <label for = 'workout_type'>Workout Type:</label><br>
    <input type = 'text' id='workout_type' name = 'name' placeholder="Description" ><br>

    <br>

    <label for = 'duration'>Duration:</label><br>
    <input type = 'integer' id='duration' name = 'duration' placeholder="Minutes"><br>

    <br>

    <label for = 'notes'>Notes:</label><br>
    <input type = 'notes' id='notes' name = 'notes' placeholder="FYI"><br>

    <br>

    <input type = 'submit' value ='Hell Yeah!'>
    </form>
    <br>

    <a href = '/'><h5>Cancel</h5></a>

    <body/>
