<h1>Great Workout!</h1>

<body style="background-color:green;">

<form method = 'POST' action = '/login'>
    <label for = 'workout_type'>Workout Type:</label><br>
    <input type = 'text' id='workout_type' Workout_Type = 'workout_type'><br>
    <br>
    <label for = 'workout_duration'>Workout Duration:</label><br>
    <input type = 'workout_duration' id='workout_duration' workout_type = 'workout_duration'><br>
    <br>
    <label for = 'workout_notes'>Workout Notes:</label><br>
    <input type = 'workout_notes' id='workout_notes' workout_type = 'workout_notes'><br>
    <br>
    <input type = 'submit' value ='Hell Yeah!'>
    </form>
    <br>
    <a href = '/'><h5>Cancel</h5></a>

    <body/>