<body style="background-color:green;">

<img src="https://i.pinimg.com/originals/41/4d/d3/414dd319ba21893a385b438bba952f59.jpg"  style="width:625px;height:400px;">

<h1>Welcome Back </h1>
<h3><a href = '/login'>Log In</a></h3>



<br>
<h1>Sign Up To Start Tracking!</h1>
<h3><a href = '/signup'>I Want To Be A Champ</a></h3>
</body>


