<h1>Edit Profile</h1><br>


<form action="/users/<%= @user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Name:</label>
        <input type="text" name="name" value=<%= @user.name%>><br>
    <label>Username:</label>
        <input type="text" name="username" value=<%= @user.username%>><br>
    <input type="submit" value="Update Account">
</form>