<h1>Welcome Back</h1>

<body style="background-color:green;">

<form method = 'POST' action = '/login'>
<input type="text" name="username" placeholder="Username"><br>
<br>

<input type="password" name="password" placeholder="Password"><br>
<br>
    <input type = 'submit' value ='Login!'>
    </form>
    <br>
    <a href = '/'><h5>Cancel</h5></a>

    <body/>

    <img src="https://www.gannett-cdn.com/usatoday/editorial/graphics/2016/06/ALIDAYS1.jpg"  style="width:625px;height:400px;">