<h1>Welcome Back</h1>

<body style="background-color:green;">

<form method = 'POST' action = '/login'>
    <label for = 'username'>Username:</label><br>
    <input type = 'text' id='username' name = 'username'><br>
    <br>
    <label for = 'password'>Password:</label><br>
    <input type = 'password' id='password' name = 'password'><br>
    <br>
    <input type = 'submit' value ='Login!'>
    </form>
    <br>
    <a href = '/'><h5>Cancel</h5></a>

    <body/>

    <img src="https://www.gannett-cdn.com/usatoday/editorial/graphics/2016/06/ALIDAYS1.jpg"  style="width:625px;height:400px;">