<!DOCTYPE html>

<body style="background-color:green;">
<h1 style="background-color:green;">Sign Up And Be Like Ali</h1>
<br/>



<p style="background-color:red;"
    <form method = 'POST' action = '/signup'>
    <label>Name:</label>
<input type="text" name="name" placeholder="Name"><br>
<br>
<label>Email:</label>
<input type="text" name="email" placeholder="Email"><br>
<br>
<label>Username:</label>
<input type="text" name="username" placeholder="Username"><br>
<br>
<label>Password:</label>
<input type="password" name="password" placeholder="Password"><br>
<br>
<input type="submit" value="Submit">
</form>

    <br>

    <a href = '/'><h5>Cancel</h5></a>
    </p>
    </body>
    <img src="https://www.goalcast.com/wp-content/uploads/2018/07/Fitness-Muhammad-Ali-Quote.jpg"  style="width:625px;height:400px;"> 

   