<!DOCTYPE html>

<body style="background-color:green;">
<h1 style="background-color:green;">Sign Up And Be Like Ali</h1>
<br/>

<img src="https://www.goalcast.com/wp-content/uploads/2018/07/Fitness-Muhammad-Ali-Quote.jpg" alt="W3Schools.com" style="width:350px;height:200px;"> 

<p style="background-color:red;"
    <form method = 'POST' action = '/signup'>
    <label for = 'email'>Email </label><br>
    <input type = 'text' id='email' name = 'email'><br>
    <br>
    <label for = 'username'>Username</label><br>
    <input type = 'text' id='username' name = 'username'><br>
    <br>
    <label for = 'password'>Password</label><br>
    <input type = 'password' id='password' name = 'password'><br>
    <br>
    <input type = 'submit' value ='Sign Up!'>
    </form>

    <br>

    <a href = '/'><h5>Cancel</h5></a>
    </p>
    </body>