<!DOCTYPE html>
<h1>Sign Up</h1>

    <form method = 'POST' action = '/signup'>
    <label for = 'email'>Email</label><br>
    <input type = 'text' id='email' name = 'email'><br>
    <label for = 'username'>Username</label><br>
    <input type = 'text' id='username' name = 'username'><br>
    <label for = 'password'>Password</label><br>
    <input type = 'password' id='password' name = 'password'><br>
    <label for = 'name'>Team Name</label><br>
    <input type = 'text' id='name' name = 'name'><br>
    <input type = 'submit' value ='Sign Up!'>
    </form>
   
    <a href = '/'><h5>Cancel</h5></a>